@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@400..700&family=Inconsolata:wght@200..900&display=swap");

@theme {
  --color-first: #f7d43f;
  --color-second: #7d6b23;
  --color-third: #5f4b19;
  --color-fourth: #7c5e2f;
  --color-fifth: #1a1818;

  --font-first: "Abril Fatface", serif;
  --font-second: "Abril Fatface", serif;

  --text-head: 1.5rem;
}
